<div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 40px;">
    <div *ngIf="!createSala" style="display: flex; flex-direction: column; justify-content: center; width: 100%; max-width: 1440px;">

        <div style="display: flex; justify-content: end; width: 100%; margin-bottom: 30px;">
            <button class="btn btn-success" (click)="showCreate()">Agregar <img src="../../../assets/icons/boton-agregar.png" style="width: 25px; height: auto;" alt=""></button>
        </div>
        <table mat-table [dataSource]="sala" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="pais">
              <th mat-header-cell *matHeaderCellDef> Pais </th>
              <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
            </ng-container>
                      
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <div style="display: flex; max-width: 100px; flex-direction: row; flex-wrap: wrap; width: auto; justify-content: space-between;">
                        <img src="../../../assets/icons/editar.png" (click)="putSala(element)" style="width: 20px; height: auto; cursor: pointer;" alt="">
                        <img src="../../../assets/icons/borrar.png" (click)="deleteSala(element._id)" style="width: 20px; height: auto; cursor: pointer" alt="">
                    </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <div *ngIf="createSala" style="width: 100%; max-width: 440px; padding: 0 28px;">
      <form [formGroup]="salaForm" (ngSubmit)="newSala()">
        <p class="p-normal">Nombre</p>
        <input id="nombre" type="text" class="form-control input-email" style="padding: 25px; border: black 2px solid;" placeholder="Nombre" formControlName="nombre" ><br>

        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
          <button class="btn-login-new" (click)="showCreate()" style="margin-bottom: 10px;">
            <span >Regresar</span>
            <span>
              <i class="fa fa-sync-alt fast-spin font-awesone"></i>
            </span>
          </button>
          <button class="btn-login-new" type="submit" style="margin-bottom: 10px;">
            <span >Agregar</span>
            <span>
              <i class="fa fa-sync-alt fast-spin font-awesone"></i>
            </span>
          </button>
        </div>
        
      </form>
    </div>
</div>