table{
    width: 100%;
}

.btn-login-new{
    width: 120px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 28px 0 0 0;
}

.p-normal{
    margin: 20px 0 0 0;
}