<div style="width: 100%; height: auto; display: flex; justify-content: center; background-color:lightyellow ;">
    <div style="width: 100%; max-width: 1440px; height: 80px; display: flex;  justify-content: center; align-items: center;">
        <div style="display: flex; align-items: center; justify-content: space-between; flex-direction: row; width: 100%;">
            <img src="../../../assets/icons/juntas.png" style="width: 40px; height: 40px;" alt="">
        </div>
    </div>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 40px;">
    <div style="display: flex; flex-direction: column; justify-content: center; width: 100%; max-width: 1440px; min-height: 80vh; align-items: center;">
      <form style="width: 100%; max-width: 600px; display: flex; flex-direction: column; justify-content: end;" *ngIf="!isRegister" [formGroup]="loginForm" (ngSubmit)="login()">
        <p class="p-normal">Usuario (Correo Electrónico)</p>
        <input id="email" type="email" class="form-control input-email" style=" padding: 25px; border: black 2px solid;" placeholder="Correo" formControlName="email" aria-label="Correo"><br>
        <p class="p-normal">Contraseña</p>
        <input id="contra" type="password" class="form-control" style=" padding: 25px; border: black 2px solid;" placeholder="Contraseña" formControlName="password">
        <p *ngIf="errMsg !== ''" style="color: red; margin: 0;">{{errMsg}}</p>
        <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; margin-top: 50px; justify-content: space-between; align-items: flex-end;">
          <button class="btn-login-new" type="submit">
            <span >Ingresar Ahora</span>
            <span>
              <i class="fa fa-sync-alt fast-spin font-awesone"></i>
            </span>
          </button>
  
          <p *ngIf="!isRegister" (click)="openForm()" style="cursor: pointer;">Registrate</p>
        </div>
        
      </form>
  
      
      <form style="width: 100%; max-width: 600px; padding: 0 20px 56px 20px;" *ngIf="isRegister" [formGroup]="registerForm" (ngSubmit)="register()">
        <p class="p-normal">Nombre</p>
        <input id="nombre" type="text" class="form-control input-email" style=" padding: 25px; border: black 2px solid;" placeholder="Nombre" formControlName="nombre" >
        <p *ngIf="registerErrors.nombre" style="color: red; margin: 0;">Es necesario este campo</p>
        <p class="p-normal" style="margin-top: 24px;">Apellidos</p>
        <input id="apellidos" type="text" class="form-control" style=" padding: 25px; border: black 2px solid;" placeholder="Apellidos" formControlName="apellidos">
        <p *ngIf="registerErrors.apellidos" style="color: red; margin: 0;">Es necesario este campo</p>
        <p class="p-normal"  style="margin-top: 24px;">Email</p>
        <input id="email" type="email" class="form-control" style=" padding: 25px; border: black 2px solid;" placeholder="Email" formControlName="email">
        <p *ngIf="registerErrors.email" style="color: red; margin: 0;">Es necesario este campo</p>
        <p class="p-normal"  style="margin-top: 24px;">Contraseña</p>
        <input id="contra" type="password" class="form-control" style="padding: 25px; border: black 2px solid;" placeholder="Contraseña" formControlName="password">
        <p *ngIf="registerErrors.contrasena" style="color: red; margin: 0;">Es necesario este campo</p>
        <p class="p-normal"  style="margin-top: 24px;"> Confirmar contraseña</p>
        <input id="confirmcontra" type="password" class="form-control" style=" padding: 25px; border: black 2px solid;" placeholder="Confirmar contraseña" formControlName="confirmPassword">
        <p *ngIf="registerErrors.confirmar_contrasena" style="color: red; margin: 0;">Es necesario este campo</p>

        <button class="btn-login-new" type="submit"  style="margin-top: 48px;">
          <span >Registrarme</span>
          <span>
            <i class="fa fa-sync-alt fast-spin font-awesone"></i>
          </span>
        </button>
        
      </form>
    
    </div>
  </div>
  