<div style="width: 100%; height: auto; display: flex; justify-content: center; background-color:lightyellow ;">
    <div style="width: 100%; max-width: 1440px; height: 80px; display: flex;  justify-content: center; align-items: center;">
        <div style="display: flex; align-items: center; justify-content: space-between; flex-direction: row; width: 100%;">
            <img src="../../../assets/icons/juntas.png" style="width: 40px; height: 40px;" alt="">
            <div style="display: flex; justify-content: end; align-items: center;">
                <p *ngIf="isAdmin" (click)="openRooms(1)" class="section-text">Salas</p>
                <p *ngIf="!isAdmin" (click)="openRooms(2)" class="section-text">Salas</p>
                <p *ngIf="isAdmin" (click)="openStates()" class="section-text">Estados</p> 
                <p *ngIf="isAdmin" (click)="openCities()" class="section-text">Ciudades</p> 
                <p *ngIf="isAdmin" (click)="openSchedules()" class="section-text">Horarios</p>
                <p *ngIf="isAdmin" class="section-text">Usuarios</p> 
                <p *ngIf="!isAdmin" (click)="openMyMeets()" class="section-text">Mis reuniones</p>
                <img (click)="logout()" src="../../../assets/icons/logout.png" style="width: 20px;" alt="">
            </div>
        </div>
    </div>
</div>
